* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS3o2Hds2OJoEVzKKSqIcPcJxKItlHHzwRl-CY_5BR6uDPzq8zK0XRIIIcqanc74ETvoo&usqp=CAU");
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.datetime {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background: rgb(209, 113, 182);
  width: 300px;
  padding: 15px 10px;
  border: 3px solid;
  border-radius: 5px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}
.date {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
}
.time {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
}
.time span:last-child {
  background: rgb(228, 158, 178);
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0 5px;
}
